
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to top,#0062ad 0,#3fabfd);
  color: white;
  height: 12rem;
  text-align: center;
  padding: 1rem;
}


h1{
  width: 100%;
  font-family: 'Shojumaru', cursive;
  font-size: 40px;
  letter-spacing: .4rem;
  margin: 1rem;
  align-self: center;
}

footer {
  height: 8rem;
  background-image: radial-gradient(#0068b8,#3fabfd);
  text-align: center;
  color:white;
  clear: both;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 8rem;
}