
select{
  text-transform: capitalize;
}

main div {
  border: thick double black;
  width: 25%;
  float: left;
  height: 32rem;
  text-align: center;
  padding: 1.5rem;
}

div img{
  filter: grayscale(60%);
  width: 100%;
  height: 25rem;
  border-radius: 1rem;
  padding: 1.5rem .6rem;
  transition: transform 1s, opacity 0.7s, filter 1s;
}

img:hover{
  filter: grayscale(0%);
  transform: scale(1.1);
}

div h2 {
  font-family: 'Shojumaru', cursive;
  letter-spacing: .1rem;
  color: #ff7675;
}

div p {
  font-size: 1.1rem;
}

#photo-template{
  display: none;
}